<div class="containter-content">
    <mat-card>
        <mat-card-title>Histórico</mat-card-title>

        <div class="rows mt-5 table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Nome do Projeto</th>
                        <th scope="col">Lista de Repositórios</th>
                        <th scope="col">Visualizar</th>
                        <th scope="col">Teste</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card>
</div>