<div class="containter-content">
    <mat-card>
        <mat-card-title>Histórico</mat-card-title>
        <div class="col d-flex justify-content-end mt-3">
            <button mat-raised-button (click)="getLog()" color="primary">Log</button>
          </div>
        <div class="rows mt-5 table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Satus</th>
                        <th scope="col">Conclusão</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Termino</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let job of infoJobs | paginate: { itemsPerPage: 5, currentPage: page} ">
                        <td>{{job['name']}}</td>
                        <td>{{job['status']}}</td>
                        <td>{{job['conclusion']}}</td>
                        <td>{{job['started_at'] | date: 'dd/MM/YYYY HH:mm:ss'}}</td>
                        <td>{{job['completed_at'] | date: 'dd/MM/YYYY HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card>
    <div class="col d-flex justify-content-start mt-3">
        <button mat-raised-button (click)="back()" color="primary">Voltar</button>
      </div>
    
</div>