mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    width: 200px;
}

.login-side{
position: absolute;
width: 540px;
height: 100%;
left: 0px;
top: 0px;
background: #F2F2F2;
}

.logo-size{
    width: 40%;
}

.imagem-login{
    transform: translateX(120%);
    
}

.title{
    font: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    padding-bottom: 5%;
  }

  
  button{
      width: 100%;
  }

  mat-form-field{
    width: 100%;
}

  .align {
  text-align: center;
  }

  .centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
    right: 25%;
  }

  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }