<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p *ngIf="data.flag==='info'">{{data.message}}</p>
  <div *ngIf="data.flag==='del'">
      <h2>Excluir Pagamento</h2>
      <p>Usuário: {{data.data[0].user}}</p>
      <p>Data: {{data.data[0].date | date:'dd/MM/YYYY'}}</p>
      <p>Value: {{data.data[0].value  | currency: 'BRL'}}</p>
      <p></p>
  </div>
</div>
<div mat-dialog-actions>
 <button mat-button *ngIf="data.flag==='info'" (click)="onNoClick()">Ok</button>
 <button mat-button *ngIf="data.flag==='del'" (click)="onNoClick()">Cancelar</button>
 <button mat-raised-button  *ngIf="data.flag==='del'" (click)="paymentDelete()" color="primary">Salvar</button>
</div>