  .text-danger{
    color: red !important;
    font-size: small;
    padding: 0;
  }

  .mat-form-field{
    width: 100%;
  
  }

  .mr-0 {
    margin-right: 0;
  }
  .ml-auto {
    margin-left:auto;
  }
  .d-block {
    display:block;
  }

