<div class="containter-content">
  <mat-card>
    <mat-card-title>Projetos</mat-card-title>

    <div class="row mt-5">
      <div class="col d-flex justify-content-end">
        <button mat-raised-button (click)="openModal(template)" color="primary">Cadastrar Novo</button>
      </div>
    </div>
    <div class="rows mt-5 table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Nome do Projeto</th>
            <th scope="col">Lista de Repositórios</th>
            <th scope="col">Visualizar</th>
            <th scope="col">Histórico</th>
            <th scope="col">Teste</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prj of gitProjects">
            <td>{{prj.githubUser}}</td>
            <td>
              <div *ngFor="let rep of prj.repositories">{{rep}}</div>
            </td>
            <td>
              <button mat-icon-button color="warn"
                (click)="modalRepositories(modalRepository, prj.repositories, prj.githubUser)"
                aria-label="Example icon button with a heart icon">
                <mat-icon class="material-icons-outlined">visibility</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button color="warn" (click)="modalHistoryInit(modalHistory, prj.repositories, prj.githubUser)"
              aria-label="Example icon button with a heart icon">
              <mat-icon>history</mat-icon>
            </button>
            </td>
            <td> 
              <button mat-icon-button color="warn"
                (click)="modalTestInit(modalTest, prj.repositories, prj.githubUser)"
                aria-label="Example icon button with a heart icon">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </td>
        
          </tr>

        </tbody>
      </table>
    </div>

  </mat-card>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastro de Usuário</h4>
    <button mat-icon-button color="accent" class="pull-right" (click)="modalRef?.hide()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <mat-form-field color="" appearance="outline">
          <mat-label>GitHub User</mat-label>
          <input [(ngModel)]="nameProject" matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Repositório</mat-label>
          <input [(ngModel)]="repoProject" matInput placeholder="" value="">
        </mat-form-field>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <button mat-raised-button (click)="saveProject()" color="primary">Salvar</button>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #modalRepository>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Repositórios</h4>
    <button mat-icon-button color="accent" class="pull-right" (click)="modalSelectRep?.hide()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div *ngIf="getRepErro"class="text-danger">Selecione um repositório</div> 
        <mat-form-field appearance="fill">
          <mat-label>Escolha o Repositório</mat-label>
          <mat-select [(ngModel)]="repSelect" name="">
            <mat-option>Selecione</mat-option>
            <mat-option *ngFor="let rep of repositories" [value]="rep">
              {{rep}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <button mat-raised-button (click)="getInfosProject()" color="primary">Consultar</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalTest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Submissão do Teste</h4>
    <button mat-icon-button color="accent" class="pull-right" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">

    <div *ngIf="!respMessage" class="row">
      <form [formGroup]="formUpload">
        <div class="col-12">
          <div class="text-danger"
            *ngIf="formUpload.controls['repo'].hasError('required') && (formUpload.controls['repo'].dirty || formUpload.controls['repo'].touched)">
            Selecione o repositório</div>
          <mat-form-field appearance="fill">
            <mat-label>Escolha o Repositório</mat-label>
            <mat-select formControlName="repo" name="">
              <mat-option>Selecione</mat-option>
              <mat-option *ngFor="let rep of repositories" [value]="rep">
                {{rep}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="text-danger"
            *ngIf="formUpload.controls['file'].hasError('required') && (formUpload.controls['file'].dirty || formUpload.controls['file'].touched)">
            Selecione um arquivo</div>
          <div class="text-danger" *ngIf="nameFileError">
            O nome do arquivo não deve conter espaços</div>
          <button mat-raised-button (click)="fileInput.click()" color="primary">
            Enviar Arquivo
            <input #fileInput type="file" (change)="onInputFile($event)" style="display:none;" />
          </button>
        </div>
        <div class="col-12 mt-3">
          <span class="file-span">{{nameFile}}</span>
        </div>
        <div class="col-12">
          <button color="warn" class="download-button" (click)="getFileTest()" mat-button>Faça o download do modelo de
            teste</button>
        </div>
      </form>
    </div>

    <div *ngIf="respMessage" class="row d-flex justify-content-center  resp-message">
     {{respMessage}}
    </div>

  </div>
  <div class="modal-footer">
    <div *ngIf="!respMessage" class="row">
      <div class="col">
        <button mat-raised-button (click)="submitFileTest()" color="primary">Iniciar Teste</button>
      </div>
    </div>
    <div *ngIf="respMessage" class="row">
      <div class="col">
        <button mat-raised-button (click)="close()" color="primary">Ok</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalHistory>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Histórico de Submissão</h4>
    <button mat-icon-button color="accent" class="pull-right" (click)="modalHistoryList?.hide()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Escolha o Repositório</mat-label>
          <mat-select (selectionChange)="getSubmission($event.value)" [(ngModel)]="repSelect" name="">
            <mat-option>Selecione</mat-option>
            <mat-option *ngFor="let rep of repositories" [value]="rep">
              {{rep}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="showJobId" class="rows mt-5 table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr >
              <th scope="col">Job Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jobId of listJobId | paginate: { itemsPerPage: 5, currentPage: page} ">
              <td>
                <a mat-button (click)="navigateToJobDetail(jobId.job_id)">{{jobId.job_id}}</a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="rows mt-5 d-flex justify-content-center">
          <div class="ml-auto">
              <pagination-controls class="pagination" (pageChange)="page = $event" previousLabel="Anterior"
                  nextLabel="Próximo">
              </pagination-controls>
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
     
      </div>
    </div>
  </div>
</ng-template>
