<mat-sidenav-container>
    <mat-sidenav opened="true" mode="side" disableClose="true">
        <mat-nav-list>
            <mat-list-item  [routerLink]="'home'">
                <mat-icon  matTooltip="Home" [matTooltipPosition]="'right'" class="material-icons-round icon-display">home</mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="'list-projects'">
                <mat-icon   matTooltip="Projetos" [matTooltipPosition]="'right'" class="material-icons-round icon-display">terminal</mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="'listar-pagamentos'">
                <mat-icon class="material-icons-round icon-display">play_circle_outline</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

<div><router-outlet></router-outlet></div>
</mat-sidenav-container>