mat-sidenav-container{
    height: 100%;
    background-color: #121212;
}

mat-sidenav, mat-sidenav-content{
    padding: 0px;
    background-color: #1E1E1E;
}

mat-list-item-content{
    padding: 0;
}

mat-sidenav{
    width: 50px;
}

:host ::ng-deep .mat-list-item-content { padding: 0.7em!important; }
.icon-display {
    transform: scale(1);
    color: rgb(129, 129, 129);
 }