@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/theming';

@include mat-core();


$md-primary: (
  50 : #e3e4e4,
  100 : #b9bbbd,
  200 : #8b8d91,
  300 : #5c5f64,
  400 : #393d43,
  500 : #161b22,
  600 : #13181e,
  700 : #101419,
  800 : #0c1014,
  900 : #06080c,
  A100 : #5184ff,
  A200 : #1e60ff,
  A400 : #0044ea,
  A700 : #003dd0,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);


$md-accent: (
  50 : #e2e2e3,
  100 : #b6b8b9,
  200 : #86888b,
  300 : #56585d,
  400 : #31353a,
  500 : #0d1117,
  600 : #0b0f14,
  700 : #090c11,
  800 : #070a0d,
  900 : #030507,
  A100 : #4eb7ff,
  A200 : #1ba3ff,
  A400 : #0089e7,
  A700 : #007ace,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$md-warn: (
    50 : #e6f7f4,
    100 : #c1ebe4,
    200 : #98ddd2,
    300 : #6ecfbf,
    400 : #4fc5b2,
    500 : #30bba4,
    600 : #2bb59c,
    700 : #24ac92,
    800 : #1ea489,
    900 : #139678,
    A100 : #c9fff1,
    A200 : #96ffe5,
    A400 : #63ffd8,
    A700 : #49ffd2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$gray-color: #e2e2e4;
$input-color: #86888b;
$primary: mat-palette($md-primary, 500);
$button-color : mat-palette($md-primary, 500);
$accent:  mat-palette($md-accent, 200);
$warn:    mat-palette($md-warn, 500);
$border-color: 0.1px solid rgba(241, 235, 235, 0.63);
$background-itens: #0d1117;

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card{
  background: rgba(0, 0, 0, 0.0) !important;
  border: 0.1px solid rgba(241, 235, 235, 0.185) !important;
}

.mat-raised-button{
  border: 0.1px solid rgba(241, 235, 235, 0.185) !important;

}

.mat-raised-button:hover{
  background-color: rgba(241, 235, 235, 0.123);
}

th, tr{
  color: $gray-color;
  border-bottom: 0.1px solid rgba(241, 235, 235, 0.432);
} 

th{
  font-weight: 500;
}

tr{
  font-weight: 400;
}


mat-card-title{
  color: $gray-color;
}

.containter-content{
  padding: 2em 2em 2em;
}

.modal-header, .modal-footer{
  background-color: $background-itens;
  border: $border-color !important;
}

.modal-body{
  background-color: $background-itens;
  border-left: $border-color;
  border-right: $border-color
}

.modal{
  background-color:rgba(241, 235, 235, 0.089)  ;
}

.mat-sidenav-container{
  height: 100%;
  background-color: $background-itens;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $input-color;
}
/* Font color */
input.mat-input-element{
  color: $input-color;
}

mat-label, h4{
  color: $input-color;
}

.btn-close{
  color: white;
}



.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(255 238 238 / 4%);
  border: $border-color;
}

.mat-select-arrow {
  color: rgb(255 255 255 / 54%);
}

.mat-select-panel{
  background: $background-itens;
  border: $border-color
}

.mat-option-text:hover:not(.mat-option-disabled) {
  background: $input-color !important;
  color: white;
}

.mat-option:hover {
  background: $input-color !important;
}

.mat-select-value{
  color: white !important;
}
.mat-option-text{
  color: $gray-color;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 