.container{
    padding: 20px;
}

table {
    width: 100%;
  }

.button-add-payment{
   margin-bottom: 2%;
}

.filter-button{
    margin-left: 2%;
}

mat-form-field{
  font-size: 12px;
}

mat-icon{
color: #69788C;
}

.title-list-payments{
  font: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 37px;

}

.mr-0 {
    margin-right: 0;
  }
  .ml-auto {
    margin-left:auto;
  }
  .d-block {
    display:block;
  }

